In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import time
import pandas as pd

In [2]:
# URL of page to be scraped
news_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

# Retrieve page with the splinter
#response = requests.get(url)
executable_path = {'executable_path': 'c:\windows\chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(news_url)
html = browser.html
time.sleep(10)  # sleep until you know it is loaded
# Create BeautifulSoup object; parse with 'html.parser'
news_soup = bs(html, 'html.parser')

In [3]:
# Collect the latest News Title and Paragraph Text
# pull back first news title on page
results = news_soup.find('li', class_='slide')
results
# try and error surrounding looking for the requested items
for result in results:
    # Error handling
    try:
        # Identify and return title of news article
        news_title = result.find('div', class_='content_title').text.strip()

        # Identify and return paragraph text
        news_p = result.find('div', class_='article_teaser_body').text.strip()
        print(f'{news_title}: {news_p}')
    except Exception as e:
        print(e)

NASA's Perseverance Pays Off Back Home: Even as the Perseverance rover approaches Mars, technology on board is paying off on Earth.

In [4]:
# Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the 
# planet including Diameter, Mass, etc.

# URL of page to be scraped
facts_url = 'https://space-facts.com/mars/'

# Use pandas to return contents of all tables in page
tables_df = pd.read_html(facts_url)
tables_df

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
# Isolate Mars facts table -- first one on page
facts_df = tables_df[0]
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [6]:
# Convert Dataframe to html 
html_facts = facts_df.to_html()

# Strip newline characters.
html_facts.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [11]:
# Mars Hemispheres

landing_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
executable_path = {'executable_path': 'c:\windows\chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(landing_url)
html = browser.html
time.sleep(10)  # sleep until you know it is loaded
# Create BeautifulSoup object; parse with 'html.parser'
landing_soup = bs(html, 'html.parser')

# Collect the links from the scraped results

hemi_results = landing_soup.find_all('a', class_='itemLink product-item')

links = []
for link in hemi_results:
    full_link = link.get('href')
    links.append(full_link)
end_links = list(set(links))

In [ ]:
# click each of the links to the hemispheres in order to find the image url to the full resolution image.

link_start = 'https://astrogeology.usgs.gov'
hemisphere_image_urls = []
for link in end_links:
    # To store the link and title
    hemi_dict = {}
    browser = Browser('chrome', **executable_path, headless=True)
    hemi_url = f"{link_start}{link}"
    browser.visit(hemi_url)
    html = browser.html
    time.sleep(10)  # sleep until you know it is loaded

    #Save image url string Hemisphere title containing the hemisphere name. Keys: img_url, title
    image_soup = bs(html, 'html.parser')
    
    # Get the title
    try:
        title_result = image_soup.find('h2', class_='title').text.strip()

    except Exception as e:
        pass
    
    # Get the img
    try: 
        image_link = image_soup.find('div', class_='downloads').li.a["href"]

    except:
        pass
    hemi_dict.update({"title": title_result, "img_url": image_link})
    hemisphere_image_urls.append(hemi_dict)

In [ ]:
#Append the dictionary with the image url string and the hemisphere title to a list. 
hemisphere_image_urls
# hemisphere_image_urls = [
#     {"title": "Valles Marineris Hemisphere", "img_url": "..."},
#     {"title": "Cerberus Hemisphere", "img_url": "..."},
#     {"title": "Schiaparelli Hemisphere", "img_url": "..."},
#     {"title": "Syrtis Major Hemisphere", "img_url": "..."},
# ]